###########################################################
# IGNORAR ARCHIVOS ZIP
###########################################################

# Ignorar todos los .zip del proyecto
**/*.zip

# Si quieres ignorar SOLO los que están dentro de src
**/src/*.zip


###########################################################
# IGNORAR ARCHIVOS O CARPETAS LLAMADAS 'main'
###########################################################

# Ignorar carpeta o archivo llamado main en cualquier parte
**/main
**/main/


###########################################################
# IGNORAR SCRIPTS .BAT
###########################################################

# Ignorar scripts específicos
**/crear_zip.bat
**/build_api.bat

# (Opcional) Ignorar TODOS los .bat
**/*.bat


###########################################################
# IGNORAR ARCHIVOS DE TERRAFORM
###########################################################

# Archivos de estado
*.tfstate
*.tfstate.*
**/.terraform/
**/.terraform/*

# Carpeta local
.terraform/

# Overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Planes
*.tfplan

# Logs
terraform.log


###########################################################
# IGNORAR VARIABLES SENSIBLES
###########################################################

# Variables locales
terraform.tfvars
*.tfvars
*.tfvars.json

# Variables por entorno
infra/envs/dev/*
infra/envs/prod/*

# (Permitir mantener carpetas vacías con .keep si quieres)
# !infra/envs/dev/.keep
# !infra/envs/prod/.keep


###########################################################
# ANGULAR Y NODE
###########################################################

# Output Angular
dist/
tmp/
out-tsc/
bazel-out/

# Angular cache
.angular/cache/

# Node modules
node_modules/

# Logs
npm-debug.log
yarn-error.log
pnpm-debug.log

# Ignorar toda la carpeta environments del frontend
solutions_front/src/app/environments/


###########################################################
# DOCKER
###########################################################

# Archivos generados
*.pid
*.seed
*.tar

# Docker compose local overrides
docker-compose.override.yml

# Volúmenes locales
docker-data/
data/


###########################################################
# IDEs Y EDITORES
###########################################################

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# JetBrains
.idea/
*.iml

# Otros
.project
.classpath
.settings/
*.sublime-workspace
*.sublime-project


###########################################################
# MISC
###########################################################

# Cobertura
coverage/
__screenshots__/

# Cachés
sass-cache/
.sass-cache/
connect.lock
libpeerconnection.log
testem.log
typings/


###########################################################
# SISTEMA
###########################################################

# macOS
.DS_Store

# Windows
Thumbs.db
